[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyflakes = "*"
black = ">=24.3.0"
pytest = "*"
pytest-cov = "*"
pipdeptree = "*"

[pipenv]
# for packages that are prereleases (e.g., black)
allow_prereleases = true

[requires]
# python_version = "3.11.1"

[scripts]
lint = "pyflakes app/ tests/"
format = "black . -l 120"
check_format = "black . -l 120 --check"
test = "python -m pytest tests/"
coverage = "python -m pytest tests/ --cov --cov-fail-under=100"
